@model IEnumerable<MouseViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterMouses", "Mouses")" data-container="#mouses">
            <div class="filter-categories">
                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Manufacturer).Distinct(),
                    Name = "Manufacturer"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Connectivity).Distinct(),
                    Name = "Connectivity"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Interface).Distinct(),
                    Name = "Interface"
                })
                
                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Sensor).Distinct(),
                    Name = "Sensor"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Color).Distinct(),
                    Name = "Color"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.NumberOfKeys).Distinct(),
                    Name = "NumberOfKeys"
                })
            </div>
            <div class="additional-filters">
                <partial name="_OrderPartialView"/>
            </div>
        </form>
    </div>
    <div id="mouses">
        <partial name="_ProductsPartialView" model="@Model"/>
    </div>
</div>

@section Scripts {
    <script src="~/js/filter.js"></script>
}