@model RegisterFormModel

<h1 class="text-center">Register</h1>
<div>
    <div>
        <form id="registerForm" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label asp-for="@Model.UserName">Username</label>
                <input aria-required="true" asp-for="@Model.UserName" />
                <span asp-validation-for="@Model.UserName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Email">Email</label>
                <input aria-required="true" asp-for="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Password">Password</label>
                <input type="password" aut aria-required="true" asp-for="@Model.Password" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                <input type="password" aut aria-required="true" asp-for="@Model.ConfirmPassword" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="registerSubmit" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
