@model IEnumerable<HeadsetViewModel>

<div>
    <div class="filter">
        <form method="get" data-url="@Url.Action("FilterHeadsets", "Headsets")" data-container="#headsets">
            <div class="filter-categories">
                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Manufacturer).Distinct(),
                    Name = "Manufacturer"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Form).Distinct(),
                    Name = "Form"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Interface).Distinct(),
                    Name = "Interface"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.NoiseIsolation).Distinct(),
                    Name = "NoiseIsolation"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Type).Distinct(),
                    Name = "Type"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Compatibility).Distinct(),
                    Name = "Compatibility"
                })

                @Html.Partial("_FilterCategoryPartialView", new FilterCategoryModel {
                    Values = Model.Select(m => m.Color).Distinct(),
                    Name = "Color"
                })

            </div>
            <div class="order">
                <partial name="_OrderPartialView"/>
            </div>
        </form>
    </div>
    <div id="headsets">
        <partial name="_ProductsPartialView" model="@Model"/>
    </div>
</div>

@section Scripts {
   <script src="~/js/filter.js"></script>
}